.container {
  height: 10em;
  position: relative;
  border: 2px solid green;
  background-color: rgb(240, 108, 0);
  /* 1 */
}

div.container p {
  margin: 0;
  position: absolute; /* 2 */
  top: 50%; /* 3 */
  transform: translate(0, -50%);
  right: 50%;
} /* 4 */
